body{font-family: 'Open Sans', sans-serif;}

.H3{color: var(--dark-01, #181818);

    font-size: 45px;
    font-weight: 800;
    line-height: normal;}

.text-color{color:#FD6E0A;}

nav > ul{display: flex;
    align-items: center;
}

nav li{list-style: none;
margin-right: 51px;}

nav a{text-decoration:  none;
color: #474747;}

nav{display: flex
; align-items: center;
justify-content: space-between;
margin: 0px 200px;
}

.button-primary{border-radius: 5px;
    background: #FD6E0A;
    border: 0;font-size: 20px;
    font-weight: 700;
    color: #FFF;
    padding: 18px 35px;
}
.header{ background-color: #FFF8F3;
background-image: url('../My-Portfolio/images/header_bg.png');
 background-repeat: none;
 background-position: bottom right;
}

.banner{padding: 30px 30px 30px 150px;
display: flex;
align-items: center;}

.banner .profile-picture{width: 500px;}